{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% if produit is empty %}
	<p>
<b class="text-3xl font-bold text-white">Il n'y a pas d'articles de dispo. Du moins pas encore...</b>

	</p>
{% else %}

{% endif %}
</div>
{% endblock %}
