<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href={{ asset("img/Favicon.png") }}>
		<link rel="stylesheet" href={{ asset("styles/app.css")}}> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
<div class="container mx-auto">

		 {% include "components/navbar.html.twig" %}
		 {% block body %}
		 {% endblock %}
			</div>

		</body>
	</html>
